//COLORS
$color-orange-text : #F96714;
$color-fondo-oscuro: rgba(255, 255, 237, .6);
$color-fondo-claro: rgba(255, 255, 204, .6);
$color-grey-light-1: #f7f7f7;
$color-black: #000;
$color-white: #FFF;
$light-grey : rgb(212, 207, 207);
$color-grey-dark: rgb(58, 53, 53);
$color-primary: orangered;
$verde-borde: rgb(77, 235, 29);
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-primary-light: #46e408;
$color-primary-dark: #0f6907;
$color-grey-dark: #777;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT-SIZE
$default-font-size: 1.6rem;


